{% extends "core/base.html" %}

{% load l10n %} <!-- Load the 'l10n' template tag library -->
{% load humanize %}
{% load custom_filters %}
{% block head_title %}Jardineando - Carrito{% endblock head_title %}

{% block content %}
  <!-- Main layout -->
  <main>
    <div class="container">
      <div class="table-responsive text-nowrap">
        <h2>Carrito</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre del Producto</th>
              <th scope="col">Precio</th>
              <th scope="col">Precio Oferta</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Subtotal</th>
            </tr>
          </thead>
          <tbody>
            {% for order_item in order.items.all %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td><h6>{{ order_item.item.title }}</h6></td>
              {% if order_item.item.on_sale %}
                <td>$<del>{{ order_item.item.price|add_thousands_separator }}</del></td>
                <td>${{ order_item.item.discount_price|add_thousands_separator }}</td>
              {% else %}
                <td>${{ order_item.item.price|add_thousands_separator }}</td>
                <td>-</td>
              {% endif %}
              <td><h6>
                <a href="{% url 'core:core-remove-single-item-from-cart' order_item.item.slug %}"><i class="far fa-minus-square mr-2"></i></a>
                {{ order_item.quantity }}
                <a href="{% url 'core:core-add-to-cart' order_item.item.slug %}"><i class="far fa-plus-square ml-2"></i></a>
                </h6>
              </td>
              <td>
                {% if order_item.item.on_sale %}
                <h6>
                    ${{ order_item.get_total_discount_item_price|add_thousands_separator }}
                    <span class="badge badge-primary">Ahorras (${{ order_item.get_amount_saved|add_thousands_separator }})</span>
                </h6>
                {% else %}
                <h6>${{ order_item.get_total_item_price|add_thousands_separator }}</h6>
                {% endif %}
                <h6><a style="color: red" href="{% url 'core:core-remove-from-cart' order_item.item.slug %}">
                    <i class="fas fa-trash float-right"></i></a>
                </h6>
              </td>
            </tr>

            {% endfor %}

              <tr>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td><strong>Total Normal</strong></td>
                <td><strong>${{ order.get_no_coupon_total|add_thousands_separator }}</strong></td>
            </tr>
            {% if order.coupon %}
            <tr>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td>Descuento Cupon: <strong>{{ order.coupon.code }}</strong></td>
                <td><strong>- ${{ order.coupon.amount|add_thousands_separator }}</strong></td>
            {% endif %}
            <tr>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td><h5><b>Total de la compra:</b></h5></td>
                <td><h5><b>${{ order.get_total|add_thousands_separator }}</b></h5></td>
              </tr>
              <tr>
                <td colspan="5">
                  <div class="text-right">
                    <a href="{% url 'core:core-home' %}" class="btn btn-primary btn-md">Seguir Comprando</a>
                    <a href="{% url 'core:core-checkout' %}" class="btn btn-warning btn-md">Ir a pagar</a>
                  </div>
                </td>
              </tr>

          </tbody>
        </table>
      </div>
    </div>
  </main>

{% endblock content %}
